.projectsSection h2{
    color: var(--text-h);
    font-size: var(--h2-medium);
    font-weight: bold;
    margin: 0;
}

.projectsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridProjects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    justify-items: center;
    gap: 20px;
    padding: 20px;
}

.cardProject{
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 360px;
    padding: 15px 15px;
    height: 140px;
    gap: 25px;
    background-color: var(--text-h);
    border-radius: 15px;
    overflow: hidden;
}

.cardProjectLeft{
    max-width: 200px;
    min-width: 170px;
    color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cardProjectStack{
    display: flex;
    flex-direction: row;
    gap: 6px;
    filter: saturate(0);
    opacity: 0.2;
    transition: filter 0.2s, opacity 0.25s;
}

.cardProject:hover{
    cursor: pointer;
}

.cardProject:hover .cardProjectStack{
    filter:saturate(1);
    opacity: 1;
}

.cardProjectStack img{
    height: 25px;
}

.cardProjectLeft img{
    max-width: 200px;
}

.cardProjectLeft h3{
    height: 60px;
    font-size: var(--p-short);
    max-width: 160px;
    margin: 0;
}

.cardProjectRight {
    position: relative;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 10px;
}

.cardProjectThumbnail img {
    height: 150px;
    filter: saturate(0);
    transition: filter 0.25s;
}

.cardProject:hover .cardProjectThumbnail img{
    filter: saturate(1);
}

.cardProjectThumbnail{
    position: absolute;
    top: -20px;
    right: -15px;
    z-index: 0;
}

.cardProjectButtons{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    left: 5px;
    bottom: -10px;
}

@media screen and (max-width: 790px){
    .gridProjects{
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        padding: 30px;
    }
    .cardProject{
        width: 340px;
    }
    .cardProjectLeft h3{
        max-width: 130px;
    }
}