.button {
    background-color: var(--text-h);
    display: inline-block;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    text-decoration: none;
    transition: transform 0.15s;
}
.button:link, .button:visited, .button:hover, .button:active{
    color: var(--bg)
}

.button:hover {
    background-color: var(--bg);
    color: var(--text-h);
    box-shadow: inset 0px 0px 0px 3px var(--text-h);
    transform: scale(1.05) translateX(2.5%);
}

