.aboutMeContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 25px;
    max-width: 380px;
    height: 100%;
    justify-content: center;
}

.aboutMeContainer h3 {
    color: var(--text-h);
    font-size: var(--h2-short);
    margin: 0;
}

.aboutMeContainer h4 {
    color: var(--text-h);
    font-size: var(--h3-medium);
    margin: 0;
}

.aboutMeContainer p{
    margin: 20px 0;
}