.section h3{
    color: var(--text-h);
    font-size: var(--h2-short);
    margin: 0;
    margin-bottom: 20px;
}

.section{
    width: 100%;
    padding: 30px 0;
}

.certificatesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 40px;
    padding: 30px 40px;
    cursor: grab;
    -webkit-overflow-scrolling: touch;
}

.certificatesContainer:active{
    cursor: grabbing;
}

.certificatesContainer::-webkit-scrollbar{
    height: 8px;
}

.certificatesContainer::-webkit-scrollbar-thumb{
    background: var(--border);
    border-radius: 4px;
}

.certificatesContainer::-webkit-scrollbar-track{
    background: transparent;
}

.certificateImg{
    width: 250px;
    height: auto;
    aspect-ratio: 1.26;
    flex-shrink: 0;
    scroll-snap-align: center;
    user-select: none;
    -webkit-user-drag: none;
    filter: saturate(0);
    transition: transform 0.2s;
}

.certificateImg:hover{
    filter: saturate(1);
    transform: scale(1.02);
}