:root{
    --h1-longer:110px;
    --h1-medium:90px;
    --h1-short:60px;
    --p-medium:50px;
    --p-short:16px;
}

.namePhotoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 50px;
    width: fit-content;
    max-width: 900px;
}

.namePhotoContainerLeft, .namePhotoContainerRight{
    display: flex;
    flex-direction: column;
}

.namePhotoContainerLeft h1, .namePhotoContainerLeft li{
    text-align: left;
    margin: 0;
}

.namePhotoContainerLeft h1{
    font-size: var(--h1-medium);
}

.namePhotoContainerLeft ul{
    padding-left: 25px;
}

.namePhotoContainerLeft li{
    font-size: var(--p-short);
}

.namePhotoContainerRight {
    align-items: flex-start;
    width: fit-content;
}

.photoDiv, .photoDiv img{
    aspect-ratio: 1/1;
    height: 300px;
}

.photoDiv{
    overflow: hidden;
    border-radius: 35px;
    border-top-right-radius: 0;
    position: relative;
}

.photoDiv img{
    height: 300px;
    aspect-ratio: 1/1;
    position: absolute;
    left: 0;
}

.photoDiv_altImg{
    z-index: 2;
    transition: opacity 0.25s;
}
.photoDiv_Img{
    z-index: 1;
}
.photoDiv_altImg:hover {
    opacity: 0;
}