.aboutMeContainer{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMeDiv {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: start;
    justify-items: center;
    gap: 60px;
}

@media screen and (max-width: 790px){
    .aboutMeDiv{
        display: flex;
        flex-direction: column-reverse;
        padding: 0 30px;
        align-items: center;
    }
    .aboutMeContainer{
        min-height: 0;
        margin-top: 20dvh;
        margin-bottom: 20dvh;
    }
}